@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import './Variables.module'
    
*
    padding: unset
    margin: unset

html
    font-size: 10px

body
    font-family: $font
    font-size: 1.6rem
    line-height: 1.5

a
    text-decoration: unset

.page--size
    max-width: 120rem
    margin: 0 auto
    padding: 6rem 2rem